@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 3.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 3.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 3.1%;
    --primary: 207.8 74.8% 38.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 221.2 83.2% 12.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 210 80% 96%;
    --accent-foreground: 207.8 74.8% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 0.95rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 207.8 74.8% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 213 31% 71%;
    --accent: 210 80% 25%;
    --accent-foreground: 210 80% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207.8 74.8% 55%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
